<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <title>Kemiskinan Indonesia</title>
</head>
<body>
    <p>
        Provinsi dengan jumlah penduduk miskin terbanyak di tiap pulau yaitu :
        <ol>
        <li><b>Sumatera Utara</b> (Pulau Sumatera)</li>
        <li><b>Jawa Timur</b> (Pulau Jawa)</li>
        <li><b>Kalimantan Barat</b> (Pulau Kalimantan)</li>
        <li><b>Sulawesi Selatan</b> (Pulau Sulawesi)</li>
        <li><b>Papua</b> (Pulau Papua)</li>
        </ol>
        Di Pulau Jawa terlihat jelas jumlah penduduk miskin 
        <br>
        mengalami kenaikan di tahun 2020 setelah terus menerus turun hingga tahun 2019
    </p>
</body>
</html>