<!DOCTYPE html>
<html>
<body>

<h3>Indeks Keparahan Kemiskinan</h3>
	<p>Secara umum, nilai indeks keparahan kemiskinan tiap Provinsi di Indonesia <b>mengalami kenaikan di tahun 2020</b>.
	<br><br>
	Untuk tiap pulau, provinsi berikut memiliki indeks keparahan kemiskinan tertinggi pada September 2020 :
	<table border="0">
		<tr><th>Provinsi</th><th>Pulau</th></tr>
		<tr><td>Sumatera Selatan</td><td>Sumatera</td></tr>
		<tr><td>Nusa Tenggara Barat</td><td>Jawa, Bali dan Nusa Tenggara</td></tr>
		<tr><td>Sulawesi Tenggara</td><td>Sulawesi</td></tr>
		<tr><td>Kalimantan Tengah</td><td>Kalimantan</td></tr>
		<tr><td>Papua Barat</td><td>Papua dan Maluku</td></tr>
	</table>
	</p>

<h3>Indeks Kedalaman Kemiskinan</h3>
	<p>Nilai indeks kedalaman kemiskinan tertinggi di Indonesia pada tahun 2020 berada di Pulau Jawa, Bali dan Nusa Tenggara tepatnya <b>Provinsi Nusa Tenggara Barat</b>. 
	<br><br>
	Indeks kedalaman kemiskinan tertinggi di tiap pulau pada September 2020, yaitu :
	<table border="0">
		<tr><th>Provinsi</th><th>Pulau</th></tr>
		<tr><td>Bengkulu</td><td>Sumatera</td></tr>
		<tr><td>Sulawesi Barat</td><td>Sulawesi</td></tr>
		<tr><td>Kalimantan Tengah</td><td>Kalimantan</td></tr>
		<tr><td>Papua Barat</td><td>Papua</td></tr>
		<tr><td>Nusa Tenggara Barat</td><td>Jawa, Bali, dan Nusa Tenggara</td></tr>
	</table>
	</p>

<h3>Persentase Penduduk Miskin</h3>
	<p>Sejak tahun 2013 sampai 2020, <b>Provinsi Papua</b> menjadi daerah nomor satu yang memiliki <b>persentase penduduk miskin tertinggi</b> di Indonesia. 
	
	Berdasarkan Pulau, persentase penduduk miskin tertinggi tahun 2020 berada di :
	<table border="0">
		<tr><th>Provinsi</th><th>Pulau</th></tr>
		<tr><td>Aceh</td><td>Sumatera</td></tr>
		<tr><td>Nusa Tenggara Timur</td><td>Jawa, Bali, dan Nusa Tenggara</td></tr>
		<tr><td>Gorontalo</td><td>Sulawesi</td></tr>
		<tr><td>Kalimantan Utara</td><td>Kalimantan</td></tr>
		<tr><td>Papua</td><td>Papua dan Maluku</td></tr>
	</table>
	
	</p>

<h3>Jumlah Penduduk Miskin</h3>
	<p>Provinsi dengan jumlah penduduk miskin terbanyak di tiap pulau yaitu :
	<table border="0">
		<tr><th>Provinsi</th><th>Pulau</th></tr>
		<tr><td>Sumatera Utara</td><td>Sumatera</td></tr>
		<tr><td>Jawa Timur</td><td>Jawa, Bali, dan Nusa Tenggara</td></tr>
		<tr><td>Sulawesi Selatan</td><td>Sulawesi</td></tr>
		<tr><td>Kalimantan Barat</td><td>Kalimantan</td></tr>
		<tr><td>Papua</td><td>Papua dan Maluku</td></tr>
	</table>
	
	Di Pulau Jawa terlihat jelas jumlah penduduk miskin <b>mengalami kenaikan</b> di tahun 2020 setelah mengalami penurunan di beberapa tahun terakhir.</p>

<h3>Garis Kemiskinan</h3>
	<p>Garis kemiskinan tiap provinsi di Indonesia <b>mengalami kenaikan</b> dari tahun ke tahun kecuali Provinsi 
	<br>DKI Jakarta mengalami penurunan yang sangat tajam pada tahun 2004 namun selanjutnya naik secara perlahan 
	<br>hingga tahun 2020. Provinsi dengan nilai garis kemiskinan tertinggi tiap pulau tahun 2020 yaitu Provinsi 
	<br>Bangka Belitung di Pulau Sumatera, Provinsi Banten di Pulau Jawa dan sekitarnya, Provinsi Sulawesi Tengah 
	<br>di Pulau Sulawesi, Provinsi Kalimantan Utara di Pulau Kalimantan, dan Provinsi Papua Barat di Pulau Papua.</p>

</body>
</html>